{

    "workbench.colorTheme": "Tokyo Night",
    "files.associations": {
        "*.plist": "properties"
    },
    "sync.gist": "8db8cb648ea78d976f98de3fd2041e30",
    "sync.quietSync": false,
    "sync.removeExtensions": true,
    "sync.syncExtensions": true,
    "sync.autoDownload": false,
    "sync.autoUpload": false,
    "sync.forceDownload": false,
    "editor.fontFamily": "'JetBrainsMono Nerd Font', monospace",
    "editor.fontLigatures": true,
    "window.zoomLevel": 0,
    "editor.multiCursorModifier": "ctrlCmd",
    "editor.fontSize": 12.5,
    "editor.formatOnPaste": true,
    "editor.snippetSuggestions": "top",
    "terminal.integrated.shell.osx": "/bin/zsh",
    "terminal.integrated.fontFamily": "'JetBrainsMono Nerd Font', monospace",
    "editor.autoClosingQuotes": "never",
    "javascript.preferences.quoteStyle": "single",
    "typescript.preferences.quoteStyle": "single",
    "terminal.external.osxExec": "/bin/zsh",
    "editor.minimap.enabled": false,
    "eslint.autoFixOnSave": true,
    "[json]": {
        "editor.defaultFormatter": "esbenp.prettier-vscode"
    },
    "workbench.iconTheme": "Monokai Pro (Filter Spectrum) Monochrome Icons",
    "sync.forceUpload": true,
    "editor.codeActionsOnSave": {
        "source.fixAll.eslint": "explicit"
    },
    "git.enableSmartCommit": true,
    "git.confirmSync": false,
    "workbench.editorAssociations": {
        "*.plist": "default"
    },
    "editor.accessibilitySupport": "off"
}
