{
  "allowNonWorkspaceAccess": true,
  "enableTelemetry": false,
  "trustedWorkspaces": [
    "{{ .chezmoi.homeDir }}",
    "{{ .chezmoi.homeDir }}/Developer",
    "{{ .chezmoi.homeDir }}/Developer/dotfiles"
  ]
}
