{
  "allowNonWorkspaceAccess": true,
  "trustedWorkspaces": [
    "{{ .chezmoi.homeDir }}",
    "{{ .chezmoi.homeDir }}/Developer",
    "{{ .chezmoi.homeDir }}/Developer/dotfiles",
    "{{ .chezmoi.homeDir }}/Developer/personal-tools",
    "{{ .chezmoi.homeDir }}/Developer/cipher-lab"
  ]
}
